include ../common/nav_fullscreen_dialog
+createHeader(t('user:login.dialog.title'))

.container
	.row
		.col.s12.m6.offset-m3.l6.offset-l3
			form.card-panel
				.row.center-align
					.col.s12: i.mdi-action-lock-open.large
				.row
					.col.s12
						.row
							.col.s12.input-field
								input#_username(type='text',name='username')
								label(for='_username')= t('user:login.form.username.field')
								span.help-block

						.row
							.col.s12.input-field
								input#_password(type='password',name='password')
								label(for='_password')= t('user:login.form.password.field')
								span.help-block(data-name='_password')

				.row.center-align
					.col.s12
						button.btn.waves-effect.waves-light(type='submit')= t('user:login.dialog.button.connect')

				.row
					.col.s12
						p.
							#{t('user:login.dialog.button.noaccount')} #[a.signup(href='/register') #{t('user:login.dialog.button.signup')}]
