.container
	.alert
	.row
		form.col.s12(role='form')
			h4= t('user:register.form.title')

			.row
				.col.s12.input-field
					input#username(type='text',name='_id')
					label(for='email')= t('user:register.form.identity_username.field')
					span.help-block

			.row
				.col.s12.m6.input-field
					input#password(type='password',name='password')
					label(for='password')= t('user:register.form.identity_password1.field')
					span.help-block

				.col.s12.m6.input-field
					input#passwordRepeat(type='password',name='passwordRepeat')
					label(for='passwordRepeat')= t('user:register.form.identity_password2.field')
					span.help-block

			p.center-align
				button.waves-effect.waves-light.btn.js-submit(type='submit')= t('user:register.form.validation.field')
