doctype html
html
	head
		meta(charset='UTF-8')
		title Passprotect

		link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')

		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='robots', content='index, follow')

		if htmlWebpackPlugin.options.piwik
			// Piwik
			script(type='text/javascript').
				var _paq = _paq || [];
				(function() {
				var u="#{htmlWebpackPlugin.options.piwik.siteUrl}";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', #{htmlWebpackPlugin.options.piwik.siteId}]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				})();

			noscript
				p
					img(src='#{htmlWebpackPlugin.options.piwik.siteUrl}piwik.php?idsite=#{htmlWebpackPlugin.options.piwik.siteId}' style='border:0;' alt='')
			// End Piwik Code
	body



