.row
	.input-field.col.s12
		select#type(type='text',name='type')
		label(for='type') #{t('items:item.form.type.field')}

.row
	.input-field.col.s12
		input#nameOnCard(type='text',name='nameOnCard')
		label(for='nameOnCard') #{t('items:item.form.nameOnCard.field')}

.row
	.input-field.col.s12
		input#cardNumber(type='text',name='cardNumber')
		label(for='cardNumber') #{t('items:item.form.cardNumber.field')}

.row
	.input-field.col.s12
		input#cvv(type='text',name='cvv')
		label(for='cvv') #{t('items:item.form.cvv.field')}

.row
	.input-field.col.s12
		input#expiry(type='text',name='expiry')
		label(for='expiry') #{t('items:item.form.expiry.field')}

.row
	.input-field.col.s12
		input#code(type='text',name='code')
		label(for='code') #{t('items:item.form.code.field')}

.row
	.input-field.col.s12
		textarea#notes.materialize-textarea(name='notes')
		label(for='notes') #{t('items:item.form.notes.field')}
